<h2>Form Validation Pattern</h2>

<form [formGroup]="theForm" (ngSubmit)="handleSubmit()">
    
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" formControlName="name">
        <p *ngIf="fcHasError('name', 'required')">
            Is required...
        </p>
    </div>

    <div class="form-group">
        <label for="phoneOne">Phone 1</label>
        <input type="tel" id="phoneOne" class="form-control" formControlName="phoneOne">
        <p *ngIf="fcHasError('phoneOne', 'required')">
            Is required...
        </p>
        <p *ngIf="fcHasError('phoneOne', 'pattern')">
            Only numbers...
        </p>
    </div>

    <div class="form-group">
        <label for="phoneTwo">Phone 2</label>
        <input type="tel" id="phoneTwo" class="form-control" formControlName="phoneTwo">
        <p *ngIf="fcHasError('phoneTwo', 'pattern')">
            Only numbers...
        </p>
    </div>

    <div class="mt-4">
        <button class="btn btn-primary">Submit</button>
    </div>

    <hr>

</form>
