<h2>Tabs Page</h2>

<app-tabs [id]="'1'" [ariaLabel]="'A label that describes the purpose of the set of tabs'">
    <app-tab [header]="'Tab 1'">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, delectus cumque voluptatum quae, magnam fugiat debitis exercitationem ipsa mollitia esse eos assumenda rem cum officiis sint ipsam veritatis in commodi.
        </p>
        <div>
            <button class="btn btn-primary">A place of focus in TAB 1</button>
        </div>
    </app-tab>
    <app-tab [header]="'Tab 2'">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, delectus cumque voluptatum quae, magnam fugiat debitis exercitationem ipsa mollitia esse eos assumenda rem cum officiis sint ipsam veritatis in commodi.
        </p>
        <div>
            <button class="btn btn-primary">A place of focus in TAB 2</button>
        </div>
    </app-tab>
    <app-tab [header]="'Tab 3'">
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Provident, delectus cumque voluptatum quae, magnam fugiat debitis exercitationem ipsa mollitia esse eos assumenda rem cum officiis sint ipsam veritatis in commodi.
        </p>
        <div>
            <button class="btn btn-primary">A place of focus in TAB 3</button>
        </div>
    </app-tab>
</app-tabs>
