<h2>NavigationExtras</h2>

<div>
    <a [routerLink]="['../navigation-extras-destination']" [state]="{ name: 'A', age: 10 }">NavigationExtras Destination</a>
</div>
<div class="mt-2">
    <a [routerLink]="['../navigation-extras-destination']" [state]="model">NavigationExtras Destination</a>
</div>
<div class="mt-2">
    <button class="btn btn-default" (click)="goTo()">NavigationExtras Destination</button>
</div>


<!--


    <a routerLink="/" [state]="{
            id: 2,
            productName: 'Link Modem',
            productCode: 'LK700',
            description: 'Linksys modem',
            prodRating: 5.0
        }">Product List</a>

-->
