<div class="row">
    <div class="col-md-6">
        <h2>Content</h2>

        <p>
            This will cover all major features of RXJS.
        </p>

        <nav>
            <ul>
                <li>
                    <a [routerLink]="['/reactive-programming-basics']">Reactive Programming Basics</a>
                </li>
                <li>
                    <a [routerLink]="['/understanding-and-creating-observables']">Understanding and creating
                        Observables</a>
                </li>
                <li>
                    <a [routerLink]="['/managing-subscriptions-with-observers']">Managing Subscriptions with
                        Observers</a>
                </li>
                <li>
                    <a [routerLink]="['/using-operators']">Using operators</a>
                </li>
                <li>
                    <a [routerLink]="['/creating-our-own-operators']">Creating our own operators</a>
                </li>
                <li>
                    <a [routerLink]="['/subjects-and-multicasted-observables']">Subjects and multicasted Observables</a>
                </li>
                <li>
                    Other
                    <ul>
                        <li>
                            <a [routerLink]="['/other/typeahead-search-in-objects']">Typeahead search in objects</a>
                        </li>
                        <li>
                            <a [routerLink]="['/other/promise-all-in-rxjs']">Promise.all equivalent</a>
                        </li>
                        <li>
                            <a [routerLink]="['/other/catch-in-promise']">Catch in promise</a>
                        </li>
                        <li>
                            <a [routerLink]="['/other/catch-error-try-again']">Catch Error try again</a>
                        </li>
                        <li>
                            <a [routerLink]="['/other/switch-map-operator']">switchMap Operator</a>
                        </li>
                        <li>
                            <a [routerLink]="['/other/how-to-love-rxjs']">How to Love RXJS</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-6">
        <h2>Docs</h2>
        <ul>
            <li>
                <a href="https://github.com/ReactiveX/rxjs">https://github.com/ReactiveX/rxjs</a>
            </li>
            <li>
                <a href="https://angular.io/guide/rx-library">https://angular.io/guide/rx-library</a>
            </li>
            <li>
                <a href="https://www.learnrxjs.io/">https://www.learnrxjs.io/</a>
            </li>
        </ul>
    </div>
</div>

<hr>
