<h2>Content</h2>

<p>
    This will cover all major features of RXJS.
</p>

<ul>
    <li>
        <a [routerLink]="['/reactive-programming-basics']">Reactive Programming Basics</a>
    </li>
    <li>Understanding and creating observables</li>
    <li>Managing subscriptions with observers</li>
    <li>
        Using operators
        <ul>
            <li>Error handling (see link in my-app)</li>
        </ul>
    </li>
    <li>Creating our own operators</li>
    <li>Subjects and multicasted observables</li>
</ul>

<hr>
