<h2>Content</h2>

<p>
    This will cover all major features of RXJS.
</p>

<ul>
    <li>
        <a [routerLink]="['/reactive-programming-basics']">Reactive Programming Basics</a>
    </li>
    <li>
        <a [routerLink]="['/understanding-and-creating-observables']">Understanding and creating Observables</a>
    </li>
    <li>
        <a [routerLink]="['/manging-subscriptions-with-observers']">Managing Subscriptions with Observers</a>
    </li>
    <li>
        <a [routerLink]="['/using-operators']">Using operators</a>
        <ul>
            <li>pipe vs no pipe (when to use operator?) (see also angular docs about rxjs)</li>
            <li>concat vs forkjoin</li>
            <li>Error handling (see link in my-app)</li>
        </ul>
    </li>
    <li>
        <a [routerLink]="['/creating-our-own-operators']">Creating our own operators</a>
    </li>
    <li>
        <a [routerLink]="['/subjects-and-multicasted-observables']">Subjects and multicasted Observables</a>
    </li>
</ul>

<hr>
