<h1>Angular RXJS 6+</h1>
<hr>
<h2>Content</h2>
<p>
  This will cover all major features of RXJS.
</p>
<ul>
  <li>Reactive Programming Basics</li>
  <li>Understanding and creating observables</li>
  <li>Managing subscriptions with observers</li>
  <li>
    Using operators
    <ul>
      <li>Error handling</li>
    </ul>
  </li>
  <li>Creating our own operators</li>
  <li>Subjects and multicasted observables</li>
</ul>
<h2>Intro - Reactive Programming Basics</h2>
<p>
  RXJS is a popular library, often used with frameworks like Angular. It takes it ques from functional programming.
</p>
<p>
  It is a library for building asynchronous applications with <mark>observable sequences (a stream of data)</mark>.
</p>
<p>
  With vanilla javascript, the code for handling a function call, a promise and a click event is different. But
  RXJS provides a nice abstraction over all of these techniques, with a single API.
</p>


<router-outlet></router-outlet>
