<div>
    <div class="row" role="tablist" [attr.aria-label]="ariaLabel">
        <div *ngFor="let tab of tabComponents; index as i" class="col-4 col-lg-3">
            <button class="btn btn-link app-tab-button" role="tab" 
                [ngClass]="{'app-tab-button-active': i === activeTab }"
                [attr.aria-selected]="i === activeTab"
                [id]="getIdentifierButton(i)" 
                [attr.aria-controls]="getIdentifierTab(i)"
                (click)="setActiveTab(i)">TAB {{ i + 1 }}</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="app-tab-border"></div>
        </div>
    </div>
    <div class="row my-4 px-4">
        <div class="col-12">
            <ng-content></ng-content>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="app-tab-border"></div>
        </div>
    </div>
</div>
