<h2>Reactive Programming Basics</h2>
<p>
  RXJS is a popular library, often used with frameworks like Angular. It takes its ques from functional programming.
</p>
<p>
  It is a library for building asynchronous applications with <mark>observable sequences (a stream of data)</mark>.
</p>
<p>
  With vanilla javascript, the code for handling a function call, a promise, a loop and a click event is different. But
  RXJS provides a nice abstraction over all of these techniques, with a single API.
</p>
<p>
  <button type="button" class="js-click-me">Click me!</button>
</p>
